
/* Main Content Styles */

.container.signup-container {
    margin-top: 2%;
}

.card.signup {
    background-color: #f4f4f4;
    text-align:center;
    background-color: #1D4E6E;
}
.row.rowstyle {
    background-color: #1D4E6E;
    border:0px;
}
.cardblock {
    display:block;
}

.colStyle {
    padding:0px;
}

.blockThree {
    padding: 20px;
}

/* List Styles */

.ulStyle {
    color: #1D4E6E;
    font-size: 1.3rem;
    text-align:left;
    left: 4.5rem;
    display:block;
    position:relative;
    padding:10px 0px 0px 0px;
    max-width:50%
}

ul.checkStyle li:before {
  content: '✓';
  padding: 0px 15px;
  color: #70B361;
  font-weight:bold;
  font-size:1.2em
}

ul.checkStyle {
  list-style: none;
}

.ulStyle2 {
    color:white;
    font-size: 1.5rem;
    text-align:left;
    left: -5%;
    display:block;
    position:relative;
    padding:10px 0px 20px;
}


/* Image Styles */


.qlinkBanner {
  background: url(qlink-banner.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
}

img.logo-img {
    display: block;
    max-width: 30%;
}

img.govlogo-img {
    display: block;
    max-width: 40%;
}

/* Button Styles */

.signupHeader {
    text-align:center;
    color:white;
}

.signup-form {
    max-width: 1950px;
    margin: auto;
    display:block;
}

.btnclass {
    margin: auto;
    display: block;
}

button.signupbtn {
    background-color:#d64829;
    color: white;
    width:100%;
    
}

button.applybtn:hover {
    background-color:#FFB661;
    color:white;
}

.btn-primary.focus, .applybtn:focus {
    color: #fff;
    background-color: #FFB661;
}

.button.applybtn:not(:disabled):not(.disabled).active, .applybtn:not(:disabled):not(.disabled):active, .show>.applybtn.dropdown-toggle {
    color: #fff;
    background-color: #FFB661;
}

.applybtn {
    text-align:center;
    margin:auto;
    background-color: #F6921E;
    color: white;
    border: 0px;
    font-weight:bold;
    font-size: 1.3rem;
}

/* Modal Styles */

.formStyle {
    text-align:left;
    margin:10px;
    max-width:95%;
}

.modalbackground {
    background-color: #1D4E6E;    
    color: white;
}

.modalheader {
    text-align:center !important;
    font-size: 4rem;
}

.formAlign {
    text-align:center !important;
    margin:auto;
}

/* Media Queries */

@media only screen 
  and (min-device-width: 1058px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1)  {


.ulStyle2 {
    color:white;
    font-size: 1.5rem;
    text-align:left;
    left: 30%;
    display:block;
    position:relative;
    padding:10px 0px 20px;
    max-width:100%;
}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1)  {


.ulStyle2 {
    color:white;
    font-size: 1.5rem;
    text-align:left;
    left: 22%;
    display:block;
    position:relative;
    padding:10px 0px 20px;
    max-width:50%;
}
}



@media only screen 
  and (min-device-width: 501px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2){


.ulStyle2 {
    color:white;
    font-size: 1.5rem;
    text-align:left;
    left: 12%;
    display:block;
    position:relative;
    padding:10px 0px 20px;    
    max-width:75%;
}
}

@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 500px)
  and (-webkit-min-device-pixel-ratio: 2){


.ulStyle {
    color: #1D4E6E;
    font-size: 1.3rem;
    text-align:left;
    left: 3rem;
    display:block;
    position:relative;
    padding:10px 0px 0px 0px;
    max-width:50%
}

.ulStyle2 {
    color:white;
    font-size: 1.3rem;
    text-align:left;
    left: -3%;
    display:block;
    position:relative;
    padding:10px 0px 20px;    
    max-width:100%;
}
}